---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import svgReference from '../../public/logo.svg'
---

<Layout title="Fergus Lai">
    <main
        class="flex h-screen w-screen items-center justify-center bg-gradient-to-br from-violet-950 to-purple-800"
    >
        <div class="flex">
            <img src={svgReference.src} class="h-24 w-24" />
            <div class="flex h-full flex-col items-start justify-start">
                <div class="text-2xl font-bold text-slate-50">Fergus Lai</div>
                <a
                    class="text-lg text-zinc-50 hover:underline focus:underline"
                    href="/blog">Blog</a
                >
                <a
                    class="text-lg text-zinc-50 hover:underline focus:underline"
                    href="/projects">Projects</a
                >
            </div>
        </div>
    </main>
</Layout>
