---
interface Props {
    title: String;
    date: String;
    description: String;
    path: String;
}

const { title, date, description, path } = Astro.props;
---

<div
    class="transistion my-2 flex w-11/12 flex-col rounded-lg bg-purple-600 p-2 text-zinc-50 delay-75 duration-150 ease-in-out hover:bg-purple-800 focus:bg-purple-800"
>
    <a href=`/blog/post/${path}`>
        <div class="flex flex-row justify-between text-2xl font-bold">
            <h2 class="text-2xl font-bold">{title}</h2>
            <h2 class="text-2xl font-bold">{date}</h2>
        </div>
        <div>{description}</div></a
    >
</div>
